.fadeIn{
    -webkit-animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}