/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

/*-------------------Variables */
:root{
--green-color:#7ACC2D;
--white-color:white;
--black-color:#313337;
/* Tipografía */
--normal:12px;
/*Espaciado*/
--space:10px;
--space-2:20px;
/* Box shadow */
--box: 0 0 1px #c1bcbc;

}
/*-------------------Variables */

html,body{
  padding:0px;
  margin:0px;
  font-size: var(--normal);
  font-family: 'Open Sans', sans-serif;
}

p{
  font-size: var(--normal);
}

/* ----------------------------------Nav Bar */
nav{
  display: flex;
  background-color: var(--green-color);
  padding: var(--space);
  color: var(--white-color);
  justify-content: space-between;
  align-items: center;
}

nav ul{
  display: flex;
}

nav li{
  padding-left: var(--space-2);
  list-style: none;
}

nav li a{
  color: var(--black-color);
  text-decoration: none;
}

nav li a:hover{
  color: var(--white-color);
}
/* ----------------------------------Nav Bar */

/* ----------------------------------Main section */
.main_section{
  padding: 15%;
  text-align: center;
}
/* ----------------------------------Main section */

/* ----------------------------------Products */
.products{
  background-image: url("../images/curve.png");
  max-height: 50px;
  padding: 20%;
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  background-size: cover;
}

.product{
  padding: var(--space-2);
  margin-top: -240px;
}

.content_product{
  background: var(--white-color);
  padding: var(--space-2);
  border-radius: 3px;
  box-shadow: var(--box);
}

.img_product{
  text-align: center;
}

.main_button{
  background-color: var(--green-color);
  width: 100%;
  padding: var(--space);
  font-size: var(--normal);
  color: var(--white-color);
  border: 0;
  cursor: pointer;
  border-radius: 2px;
}

.main_button:hover{
  background-color: #63a426;
}
/* ----------------------------------Products */

/* ----------------------------------Caracteristics */
.caracteristics{
  padding: 10%;
  display: flex;
}

.caracteristic{
  text-align: center;
  padding: var(--space-2);
}

.caracteristic img{
  max-height: 100px;
}

.text_caracteristic{
  text-align: justify;
}
/* ----------------------------------Caracteristics */

/* ----------------------------------Menciones */
.mention_title{
  text-align: center;
}

.mentions{
  display: flex;
  padding: 5%;
}

.mention{
  padding: var(--space);
}

.mention img{
  width: 100%;
}

.content_mention{
  box-shadow: var(--box);
}

.text_mention{
  padding: var(--space);
}
/* ----------------------------------Menciones */

/* ----------------------------------Footer */
footer{
  display: flex;
  background-color: var(--black-color);
  padding: var(--space);
  color: var(--white-color);
  justify-content: space-between;
  font-size: var(--normal);
  height: 30px;
  align-items: center;
}

footer li{
  padding-left: var(--space-2);
  list-style: none;
}

footer a{
  color: var(--white-color);
  text-decoration: none;
}
/* ----------------------------------Footer */